<div class="row container-fluid   mt-3 text-center">
  <h1><b>YOUR PURCHASE HISTORY</b></h1>
</div>

<div class="row container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <a class="btn btn-outline-primary" routerLink="/product">Continue shopping</a>
      </div>
      <div class="col-lg-6">

      </div>
    </div>
        <div class="row mt-5">
          <table class="table table-striped table-bordered text-center justify-content-center" style="width:100%" >
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">BILL CODE</th>
              <th scope="col">CUSTOMER</th>
              <th scope="col">DATE OF PAYMENT</th>
              <th scope="col">TOTAL MONEY</th>
              <th scope="col">CART DETAIL</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr *ngIf="purchaseHistories.length === 0"><td style="text-align: center" colspan="5"><h5 class="text-danger">HISTORY IS EMPTY</h5></td></tr>
            <tr *ngFor="let p of purchaseHistories, let i = index">
              <td >{{i+1}}</td>
              <td>{{p.billCode}}</td>
              <td>{{p.account.name}}</td>
              <td>{{p.dateOrder}}</td>
              <td>{{p.total | currency: 'USD'}}</td>
              <td>
                <button type="button" class="btn btn-warning"
                        data-bs-toggle="modal" data-bs-target="#detail">
                  <img src="https://img.icons8.com/ios-glyphs/1x/edit.png" alt="">
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

<button (click)="onHead()" class="btn btn-lg btn-warning btn-lg-square rounded-circle back-to-top"><i
  class="bi bi-arrow-up"></i></button>
</div>
