
<div class="container">
  <div class="row ">
    <div class="col-lg-8 col-md-12 col-sm-12 pe-3 mt-5 ">
      <!--      name-->
      <div class="row">
        <div class="col-lg-4">
          <label for="basic-url">Your name</label>
        </div>
        <div class="col-lg-8">
          <div class="input-group mb-3">
            <input type="text" class="form-control" [value]="user.name" id="basic-url"  aria-describedby="basic-addon3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3"><i class="fa fa-user "></i></span>
            </div>
          </div>
        </div>
      </div>

      <!--      phone-->
      <div class="row">
        <div class="col-lg-4">
          <label for="basic-url2">Your phone number</label>
        </div>
        <div class="col-lg-8">
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="basic-url2" [value]="user.phoneNumber" aria-describedby="basic-addon33">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon33"><i class="fa fa-phone "></i></span>
            </div>
          </div>
        </div>
      </div>

      <!--      card-->
      <div class="row">
        <div class="col-lg-4">
          <label for="card">Your identity card</label>
        </div>
        <div class="col-lg-8">
          <div class="input-group mb-3">
            <input type="text" class="form-control" [value]="user.accountId" id="card" aria-describedby="idCard">
            <div class="input-group-prepend">
              <span class="input-group-text" id="idCard"><i class="fa fa-id-card"></i></span>
            </div>
          </div>
        </div>
      </div>

      <!--      address-->
      <div class="row">
        <div class="col-lg-4">
          <label for="address">Your address</label>
        </div>
        <div class="col-lg-8">
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="address"  [value]="user.address" aria-describedby="addresss">
            <div class="input-group-prepend">
              <span class="input-group-text" id="addresss"><i class="bi bi-geo-alt"></i></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 mb-2">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
            <label class="form-check-label" for="flexRadioDefault1">
              This is my address
            </label>
          </div>
        </div>
        <div class="col-lg-6 mb-2">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
              Add new my address
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="input-group">
            <textarea class="form-control"  placeholder="Please input your name, new address,..." aria-label="With textarea"></textarea>
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa-solid fa-comment "></i></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row my-3">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12 mb-3">
              <img src="https://imageio.forbes.com/specials-images/imageserve/60b6b224ddcb0f2ee0114094/0x0.jpg?format=jpg&width=1200" width=100% alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12"  id="paypalBtn">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 mt-5 ">
      <div class="row" style="margin-left: 60px;">
        <div class="card mb-3 px-0 " style="border-color: #0c4128;">
          <div class="card-body text-light">
            <h5 class="card-title " style="color: #FFFFFF"> Order summary</h5>
            <p class="card-text" style="color: #FFFFFF">Standard delivery: $5 </p>
          </div>
          <div class="card-footer  bg-light " style="color: #0f5132;">Total payment:{{total| currency: "USD"}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

