
<div class="container">
  <div class="row ">
    <div class="col-lg-8 col-md-12 col-sm-12 pe-3 mt-5 ">
      <!--      name-->
      <div class="row">
        <div class="col-lg-4">
          <label for="basic-url">Your name</label>
        </div>
        <div class="col-lg-8">
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="basic-url"  aria-describedby="basic-addon3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3"><i class="fa-solid fa-user "></i></span>
            </div>
          </div>
        </div>
      </div>

      <!--      phone-->
      <div class="row">
        <div class="col-lg-4">
          <label for="basic-url2">Your phone number</label>
        </div>
        <div class="col-lg-8">
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="basic-url2"  aria-describedby="basic-addon33">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon33"><i class="fa-solid fa-phone-flip "></i></span>
            </div>
          </div>
        </div>
      </div>

      <!--      card-->
      <div class="row">
        <div class="col-lg-4">
          <label for="card">Your identity card</label>
        </div>
        <div class="col-lg-8">
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="card" aria-describedby="idCard">
            <div class="input-group-prepend">
              <span class="input-group-text" id="idCard"><i class="fa-solid fa-id-card"></i></span>
            </div>
          </div>
        </div>
      </div>

      <!--      address-->
      <div class="row">
        <div class="col-lg-4">
          <label for="address">Your address</label>
        </div>
        <div class="col-lg-8">
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="address"  aria-describedby="addresss">
            <div class="input-group-prepend">
              <span class="input-group-text" id="addresss"><i class="fa-solid fa-location-dot"></i></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 mb-2">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
            <label class="form-check-label" for="flexRadioDefault1">
              Địa chỉ giao hàng cũng là địa chỉ của tôi
            </label>
          </div>
        </div>
        <div class="col-lg-6 mb-2">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
              Thêm địa chỉ giao hàng mới
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="input-group">
            <textarea class="form-control"  placeholder="Vui lòng nhập họ tên, địa chỉ giao hàng mới,..." aria-label="With textarea"></textarea>
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa-solid fa-comment "></i></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12 mb-3">
              <img src="https://toplist.vn/images/800px/3-shipantoan-117725.jpg" width=100%>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12"  id="paypalBtn">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 mt-5 ">
      <div class="row" style="margin-left: 60px;">
        <div class="card mb-3 px-0 " style="border-color: #323cc4;">
          <div class="card-body text-light">
            <h5 class="card-title "> Order summary</h5>
            <p class="card-text" style="color: #FFFFFF">Standard delivery: 49,000 vnđ</p>
            <p class="card-text" style="color: #FFFFFF">Total order:  vnđ</p>
          </div>
          <div class="card-footer  bg-light " style="color: #323cc4;">Total payment:
            vnđ
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

