<!-- Product Detail -->
<div class="container">
  <div class="box">
    <div class="images">
      <div class="img-holder active">
        <img src="../../assets/img/gallery-4.jpg">
      </div>
      <div class="img-holder">
        <img src="../../assets/img/gallery-4.jpg">
      </div>
      <div class="img-holder">
        <img src="../../assets/img/headphone.jpg">
      </div>
      <div class="img-holder">
        <img src="../../assets/img/headphone.jpg">
      </div>
    </div>
    <div class="basic-info">
      <h1>Ayrshire</h1>
      <div class="rate">
        <i class="filled fas fa-star"></i>
        <i class="filled fas fa-star"></i>
        <i class="filled fas fa-star"></i>
        <i class="filled fas fa-star"></i>
        <i class="filled fas fa-star"></i>
      </div>
      <span>$250</span>
      <div class="type mx-4">

        <button class="minus btn-outline-light" style="color: black" (click)="decrement()">-</button>
        <input type="text" id="number" [(ngModel)]="num">
        <button class="plus btn-outline-light" style="color: black" (click)="increment()">+</button>
      </div>
      <div class="options">
        <button class="btn btn-primary">Buy It Now</button>
        <button class="btn btn-primary mx-2" >Add to Cart</button>
      </div>
    </div>
    <div class="description">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus temporibus corporis repudiandae, consectetur nostrum nisi commodi placeat rerum molestias numquam nihil accusantium deleniti! Enim, nesciunt a quis amet hic officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae nemo accusantium tempora facere doloremque cum iusto, ut neque, fuga omnis libero laborum ullam. At dolorum qui atque labore illo dignissimos.</p>
    </div>
  </div>
</div>
