<div class="row container-fluid   mt-3 text-center">
  <h1><b>YOUR CART</b></h1>
</div>

<div class="row container-fluid">
  <div class="col-lg-8">
    <div class="row">
      <div class="col-lg-6">
        <a class="btn btn-outline-primary" routerLink="/product">Continue shopping</a>
      </div>
      <div class="col-lg-6"></div>
    </div>
    <div style="text-align: center" class="row">
      <div class="row my-3 py-3" style="background: #eeeeee">
        <div class="col-lg-2">
          <b>Product</b>
        </div>

        <div class="col-lg-2"></div>

        <div class="col-lg-2">
          <b>Cost</b>
        </div>

        <div class="col-lg-2">
          <b>Quantity</b>
        </div>

        <div class="col-lg-2">
          <b>Notional Price</b>
        </div>
        <div class="col-lg-2">

        </div>
      </div>

      <div class="row my-3" *ngFor="let s of cartDetailDtos">
        <div class="col-lg-2">
          <img class="img-fluid mb-4" src="../../assets/img/{{s.image}}"
               style="width: 200px; height: 100px;" alt="">
        </div>

        <div class="col-lg-2" style="text-align: left">
          <b>{{s.productName}}</b>
        </div>

        <div class="col-lg-2">
          <b>{{s.price| currency: "USD"}}</b>
        </div>

        <div class="col-lg-2">
          <div style="display: flex; align-items: center;">
            <button class="minus btn-outline-light"
                    style="color: black; flex-grow: 0; flex-shrink: 0; flex-basis: 30px;"
                    (click)="minus(s.cartDetailId)">-
            </button>
            <input #quantity (change)="changeQuantity(+quantity.value,s.cartDetailId)" type="text" id="quantity"
                   class="quantity-input text-center" value="{{s.quantity}}" style="  width: 50px">
            <button class="plus btn-outline-light" style="color: black; flex-grow: 0; flex-shrink: 0; flex-basis: 30px;"
                    (click)="plus(s.cartDetailId)">+
            </button>
          </div>
        </div>

        <div class="col-lg-2">
          <b>{{s.quantity * s.price | currency: "USD"}}</b>
        </div>
        <div class="col-lg-2">
          <button class="btn btn-lg btn-danger  rounded-circle" (click)="remove(s.cartDetailId, s.cartId, s.productId,s.productName)">
            X
          </button>
        </div>
      </div>

    </div>
  </div>

  <div class="col-lg-4 px-4 mt-4">
    <div style="text-align: center">
      <div class="row">
        <h3><b>TOTAL PAYMENT</b></h3>
        <hr style="height: 2px; color: black">
      </div>

      <div class="row">
        <div class="col-lg-6">
          <b>Tổng số tiền: </b>
        </div>
        <div class="col-lg-6">
          <span>{{sum | currency: "USD"}}</span>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <b>Phí vận chuyển: </b>
        </div>
        <div class="col-lg-6">
          <span>{{shippingPay | currency: "USD"}}</span>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-lg-6">
          <h5><b>Tổng thanh toán: </b></h5>
        </div>

        <div class="col-lg-6">
          <b>{{total| currency: "USD"}}</b>
        </div>
        <div class="row">
          <button class="btn btn-outline-success">Go to the payment page</button>
        </div>


      </div>

    </div>
  </div>
</div>
<button (click)="onHead()" class="btn btn-lg btn-warning btn-lg-square rounded-circle back-to-top"><i
  class="bi bi-arrow-up"></i></button>
